

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
    <!--Navbar -->
    {{> navbar}}
    <div class="contenido">
        {{#each obtenermoviles}}
        <div class="moviles">
            <div class="inside">
                <h1>{{nombre}}</h1>
                <h2>{{modelo}}</h2>
                <h3>{{precio}} €</h3> 
            </div>
            <div class="btn1">
                <form action="/eliminarmovil/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="el">Eliminar</button>
                </form>
                <button class="edit"><a class="update" href="/editarmovil/{{_id}}">Actualizar</a></button>
            </div>
        </div>
        {{/each}}
    </div>
<style scoped>
body{
    background-color: #a5a5a5a1;
}
.contenido{
    display: flex;
    margin: 10px;
    flex-wrap: wrap
}
.moviles{
    width: 25%;
    margin: 10px;
    border: 1px solid;
    background-color: #0303030c;
    transition: 0.3s;
    border-radius: 5%;

}
.inside{
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;

}
img{
    width: 300px;
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    justify-content: space-around;
    margin-bottom: 3%;

}

</style>
</body>